VITE_SUPABASE_URL=https://qqxttufhegnujodcnjvq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxeHR0dWZoZWdudWpvZGNuanZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNTg1NTcsImV4cCI6MjA5NTYzNDU1N30.jCUGWE_7A2FKkBiUHA4DIiC7eR-IQJk5lHgNbhnMaFs
